{
        "input_base_dir": "/oak/stanford/groups/smontgom/amarder/HarmonizeGWAS/out/gwas/",
        "output_base_dir": "/oak/stanford/groups/smontgom/amarder/HarmonizeGWAS/out/gwas/munge/",
        "genome_build": "hg19",
        "HEADDIR": "/oak/stanford/groups/smontgom/amarder/HarmonizeGWAS",
        "TMPDIR": "/oak/stanford/groups/smontgom/amarder/tmp",
        "hg19ToHg38chain": "/oak/stanford/groups/smontgom/amarder/bin/chain/hg19ToHg38.over.chain.gz",
        "liftOver": "/home/amarder/micromamba/envs/kent-tools/bin/liftOver",
        "studies":
        [
                {
                        "study_info": "Anorexia_nervosa_Watson_2019",
                        "traits":
                        {
                                "Anorexia_nervosa_Watson_2019": ["Anorexia_nervosa_Watson_2019.txt.gz"] 
                        },
                        "delimiter": "\t",
						"rsid_index": "3",
                        "chr_index": "1",
                        "snp_pos_index": "2",
                        "pvalue_index": "8",
                        "effect_allele_index": "5",
                        "non_effect_allele_index": "4",
                        "effect_index": "6",
                        "se_index": "7",
                        "direction_index": "6"
                },
                {
                        "study_info": "ALS_Rheenen_2021",
                        "traits":
                        {
                                "ALS_Rheenen_2021": ["ALS_Rheenen_2021.txt.gz"] 
                        },
                        "delimiter": "\t",
						"rsid_index": "1",
                        "chr_index": "2",
                        "snp_pos_index": "3",
                        "pvalue_index": "8",
                        "effect_allele_index": "4",
                        "non_effect_allele_index": "5",
                        "effect_index": "6",
                        "se_index": "7",
                        "direction_index": "6"
                },
                {
                
                        "study_info": "ASD_Grove_2019",
                        "traits":
                        {
                                "ASD_Grove_2019": ["ASD_Grove_2019.txt.gz"] 
                        },
                        "delimiter": "\t",
						"rsid_index": "2",
                        "chr_index": "1",
                        "snp_pos_index": "3",
                        "pvalue_index": "9",
                        "effect_allele_index": "5",
                        "non_effect_allele_index": "4",
                        "or_index": "7",
                        "se_index": "8",
                        "direction_index": "7"
                },
                {
                        "study_info": "PTSD_Nievergelt_2019",
                        "traits":
                        {
                                "PTSD_Nievergelt_2019": ["PTSD_Nievergelt_2019.txt.gz"] 
                        },
                        "delimiter": "\t",
						"rsid_index": "2",
                        "chr_index": "1",
                        "snp_pos_index": "3",
                        "pvalue_index": "11",
                        "effect_allele_index": "4",
                        "non_effect_allele_index": "5",
                        "or_index": "9",
                        "se_index": "10",
                        "direction_index": "9"

                },
                {
                        "study_info": "ADHD_Demontis_2019",
                        "traits":
                        {
                                "ADHD_Demontis_2019": ["ADHD_Demontis_2019.txt.gz"] 
                        },
                        "delimiter": "\t",
						"rsid_index": "2",
                        "chr_index": "1",
                        "snp_pos_index": "3",
                        "pvalue_index": "11",
                        "effect_allele_index": "5",
                        "non_effect_allele_index": "4",
                        "or_index": "9",
                        "se_index": "10",
                        "direction_index": "9"
                },
                {
                        "study_info": "Bipolar_Mullins_2021",
                        "traits":
                        {
                                "Bipolar_Mullins_2021": ["Bipolar_Mullins_2021.txt.gz"] 
                        },
                        "delimiter": "\t",
						"rsid_index": "3",
                        "chr_index": "1",
                        "snp_pos_index": "2",
                        "pvalue_index": "8",
                        "effect_allele_index": "5",
                        "non_effect_allele_index": "4",
                        "effect_index": "6",
                        "se_index": "7",
                        "direction_index": "6"
                },
                {
                        "study_info": "Major_Depression_Howard_2019",
                        "traits":
                        {
                                "Major_Depression_Howard_2019": ["Major_Depression_Howard_2019.txt.gz"] 
                        },
                        "delimiter": "\\s+",
						"rsid_index": "1",
                        "pvalue_index": "7",
                        "effect_allele_index": "3",
                        "non_effect_allele_index": "2",
                        "effect_index": "5",
                        "se_index": "6",
                        "direction_index": "5"
                },
                {
                        "study_info": "Tourette_Yu_2019",
                        "traits":
                        {
                                "Tourette_Yu_2019": ["Tourette_Yu_2019.txt.gz"] 
                        },
                        "delimiter": "\\s+",
						"rsid_index": "1",
                        "chr_index": "2",
                        "snp_pos_index": "3",
                        "pvalue_index": "9",
                        "effect_allele_index": "5",
                        "non_effect_allele_index": "4",
                        "or_index": "7",
                        "se_index": "8",
                        "direction_index": "7"
                },
                {
                        "study_info": "Alzheimers_Bellenguez_2022",
                        "traits":
                        {
                                "Alzheimers_Bellenguez_2022": ["Alzheimers_Bellenguez_2022.txt.gz"] 
                        },
                        "delimiter": "\\s+",
						"rsid_index": "1",
                        "chr_index": "3",
                        "snp_pos_index": "4",
                        "pvalue_index": "2",
                        "effect_allele_index": "5",
                        "non_effect_allele_index": "6",
                        "effect_index": "11",
                        "se_index": "12",
                        "direction_index": "11",
						"NINDIV": "788989"
                },
                {
                        "study_info": "BMI_Yengo_2018",
                        "traits":
                        {
                                "BMI_Yengo_2018": ["BMI_Yengo_2018.txt.gz"] 
                        },
                        "delimiter": "\t",
						"rsid_index": "3",
                        "chr_index": "1",
                        "snp_pos_index": "2",
                        "pvalue_index": "9",
                        "effect_allele_index": "4",
                        "non_effect_allele_index": "5",
                        "effect_index": "7",
                        "se_index": "8",
                        "direction_index": "7",
                        "source_build": "hg19",
                        "freq_index": "6"
                },
                {
                		"study_info": "Schizophrenia_PGCWave3_2022",
                        "traits":
                        {
                                "Schizophrenia_PGCWave3_2022": ["Schizophrenia_PGCWave3_2022.txt.gz"] 
                        },
                        "delimiter": "\t",
						"rsid_index": "2",
                        "chr_index": "1",
                        "snp_pos_index": "3",
                        "pvalue_index": "11",
                        "effect_allele_index": "5",
                        "non_effect_allele_index": "4",
                        "effect_index": "9",
                        "se_index": "10",
                        "direction_index": "9",
                        "source_build": "hg19",
                        "freq_index": "7"
                },
                {
                		"study_info": "CRC",
                        "traits":
                        {
                                "CRC": ["CRC.txt.gz"] 
                        },
                        "delimiter": "\t",
                        "chr_index": "11",
                        "snp_pos_index": "12",
                        "pvalue_index": "8",
                        "effect_allele_index": "3",
                        "non_effect_allele_index": "2",
                        "effect_index": "6",
                        "se_index": "7",
                        "direction_index": "6",
                        "source_build": "hg19",
                        "freq_index": "10"
                },
                {
                        "study_info": "BMI_NealePanUKB_2021",
                        "traits":
                        {
                                "BMI_NealePanUKB_2021": ["BMI_NealePanUKB_2021.txt.gz"] 
                        },
                        "delimiter": "\t",
						"rsid_index": "-1",
                        "chr_index": "1",
                        "snp_pos_index": "2",
                        "log_pvalue_index": "37",
                        "effect_allele_index": "4",
                        "non_effect_allele_index": "3",
                        "effect_index": "25",
                        "se_index": "31",
                        "direction_index": "25",
                        "source_build": "hg19"
                },
        ]
}

